.exit-text {
  font-size: 1.3rem;
}

h6 {
  text-align: end;
}

.toUpper {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.exit-h3 {
  color: #00ffff;
  margin-bottom: 1rem;
}

.bar {
  width: 100%;
  border: 1px solid #d20094;
  margin-block: 1rem;
}

.exit-btn {
  padding-block: 5rem;
  text-align: center;
}

.exit-btn .default-btn {
  display: inline-block;
  margin-inline: 1rem;
}

a:hover {
  /*replica della classe "active-btn"*/
  background-color: #00ffff;
  color: #0b113b;
  border: none;
  box-shadow: 1px 1px 25px #00ffff;
  font-weight: 900;
}

.exit-footer {
  display: block;
}

.inner-footer {
  width: 50%;
  margin-inline: auto;
}
