main {
  text-align: center;
}

h2 {
  font-size: 3em;
  margin: 0 auto 0.83em;
  max-width: 100%;
  line-height: 1.2;
}

.fp {
  width: 100%;
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.01em;
  margin-bottom: 1.5rem;
  line-height: 2.5rem;
  margin-top: 1.5rem;
}
.titlef-b {
  font-weight: bold;
  font-size: 3em;
  line-height: 4rem;
  width: 1000px;
  min-width: 500px;
  margin-bottom: 0.8rem;
}

#comment-input {
  border: none;
  border-bottom: 2px solid #ff00ff;
  padding: 10px 1rem;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 580px;
  font-size: 16px;
  color: rgb(249, 247, 247);
  background: transparent;
}

.default-btn {
  display: inline-block;
  padding: 0.7rem 2.5rem;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-weight: 600;
  text-decoration: none;
  margin: 40px auto;
  text-align: center;
  max-width: 100%;
}

.active-btn {
  background-color: #00ffff;
  color: #0b113b;
  border: none;
  box-shadow: 1px 1px 25px #00ffff;
}

.star {
  font-size: 1rem;
  display: inline-block;
  opacity: 0.2;
  cursor: pointer;
}

.star.selected {
  opacity: 1;
}

.star-container {
  margin: 5px;
  margin-bottom: 2px;
  padding: 1px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
