.special-label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 1.5rem;
  margin-top: 5.5rem;
}

#question-number {
  display: block;
  margin-inline: auto;
  -webkit-appearance: none;
  width: 199px;
  height: 8px;
  background: #d20094;
  border-radius: 5px;
  margin-bottom: 3rem;
}

#question-number::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #0e113e;
  opacity: 75%;
  box-shadow: inset 4px -1px 5px #f3e8e8, inset -1px 2px 5px #f3e8e8;
  border-radius: 50%;
}

/* .slider-container {
  margin-bottom: 3rem;
  position: relative;
  margin: 50px;
}

.tooltip {
  position: absolute;
  background-color: whitesmoke;
  color: #d20094;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  transform: translateX(-50%);
  top: -40px;
} */
