#level {
  padding: 0.7rem 2.5rem;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid #d20094;
  text-decoration: none;
  margin-top: -2px;
  margin-left: 13px;
  margin-right: 33px;
  max-width: 100%;
}

#level option {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  background-color: #0c113b !important;
  border: 0.1px solid #0c113b;
}

.special-label {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: 10px;
  display: block;
  margin-top: 10px;
  margin-bottom: 44px;
}
