@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg.jpg");
  background-size: cover;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 300;
}

header,
main {
  width: 90%;
  margin-inline: auto;
}

header {
  padding-top: 3rem;
  margin-bottom: 5rem;
}

.logo {
  height: 35px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 5rem;
}

.titles {
  line-height: 4rem;
  width: 500px;
  min-width: 500px;
  margin-bottom: 2.5rem;
}

.titles span {
  font-weight: 700;
}

h3 {
  color: #c2128d;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  width: 580px;
  min-width: 580px;
  margin-bottom: 3rem;
  line-height: 1.2rem;
}

ul {
  padding-left: 1rem;
  margin-left: 0.5rem;
}

li {
  list-style: disc;
  margin-bottom: 0.5rem;
}

li span {
  font-weight: 600;
}

form {
  margin-top: 5rem;
}

form label {
  font-size: 0.8rem;
  font-weight: 600;
  display: inline-block;
  width: 50%;
}

.default-btn {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  right: 50rem;
  padding: 0.7rem 2.5rem;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  font-weight: 600;
}

.active-btn {
  background-color: #00ffff;
  color: #0b113b;
  border: none;
  box-shadow: 1px 1px 25px #00ffff;
}
